@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url(../fonts/Quicksand.ttf) format('truetype');
}

body {
  margin: 0;
  overflow: hidden;
  background: #4d3c50;
  background: -moz-linear-gradient(
    180deg,
    rgba(77, 60, 80, 1) 0%,
    rgba(110, 87, 115, 1) 50%,
    rgba(77, 60, 80, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(77, 60, 80, 1) 0%,
    rgba(110, 87, 115, 1) 50%,
    rgba(77, 60, 80, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(77, 60, 80, 1) 0%,
    rgba(110, 87, 115, 1) 50%,
    rgba(77, 60, 80, 1) 100%
  );
  min-height: 100%;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ---- Components ---- */

/* Breath */
.breath-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breath-bubble {
  position: absolute;
  border-radius: 50%;
  background: #367676;
  width: 6vh;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .breath-bubble {
    width: 8vw;
    height: 8vw;
  }
}

/* RoundSettings */

.round-settings {
  margin: 12px;
  padding: 12px;
  max-width: 700px;
}
