@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url(../fonts/Quicksand.ttf) format('truetype');
}

body {
  margin: 0;
  /* background: #191818; */
  background: #2f2f2f;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background: #2f2f2f;
  box-shadow: 0 1px 1px #5ac6c6, 0 -1px 1px #367676, 0 14px 20px #202020, 0 -7px 15px #6d6d6d;
}

button i {
  color: #5ac6c6;
  font-size: 18px;
}

/* ---- Components ---- */

.App,
.start-screen,
.session,
.round-time,
.breathe,
.breathe-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* App */
.App {
  height: 100vh;
  flex-direction: column;
}

/* StartScreen */
.start-screen {
  flex-direction: column;
  gap: 50px;
}

/* Session */
.session {
  flex-direction: column;
}

/* RoundTime */
.round-time {
  position: absolute;
  flex-direction: column;
  gap: 20px;
}

/* SessionControls */
.session-controls {
  position: absolute;
  display: flex;
  margin-top: 300px;
  gap: 35px;
}

.breathe-bubble {
  position: absolute;
  border-radius: 50%;
  background: #367676;
}

.breathe-bubble.bubble-1 {
  background: #367676;
  width: 48px;
  height: 48px;
}

.breathe-bubble.bubble-2 {
  background: #489e9e;
  width: 40px;
  height: 40px;
}

.breathe-bubble.bubble-3 {
  background: #5ac6c6;
  width: 32px;
  height: 32px;
}

.breathe-bubble.bubble-4 {
  background: none;
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 600px) {
  .breathe-bubble.bubble-1 {
    width: 32px;
    height: 32px;
  }

  .breathe-bubble.bubble-2 {
    width: 26px;
    height: 26px;
  }

  .breathe-bubble.bubble-3 {
    width: 20px;
    height: 20px;
  }

  .breathe-bubble.bubble-4 {
    width: 8px;
    height: 8px;
  }
}
